.box-wrap:hover .img-wrap img {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.img-wrap {
    overflow: hidden;
}

.text-v-center {
    vertical-align: top;
  }
  
.box-wrap .img-wrap img {
    transition: all .3s;
}

.bdrs-10{
    border-radius: 20px;
}


.bg-pink {
    --bs-bg-opacity: 100;
    background-color: rgba(216,173,160), var(216,173,160) !important;
  }

  .bg{
    color: rgb(216, 173, 160);
}